<div class="accessory">
    <img src="{{imageUrl}}" alt="stickerName">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <form action="/products/{{productId}}/{{_id}}/delete" method="POST">
        <input type="submit" value="Remove">
        </a>
    </form>
    
</div>