<div class="accessory">
    <img src="{{imageUrl}}" alt="stickerName">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <form action="/products/{{productId}}/{{_id}}/delete" method="POST">
        {{#if isAuth}} 
        <input class="accessoryRemove" type="submit" value="Remove">
        {{/if}}
        </a>
    </form>
    
</div>